/.vs
/vs
/GSClient/.vs
/GSServer/.vs
/.Debug
/Debug
/x64
/ipch
/Debug
/v16/*
*.exe
*.ilk
*.pdb
*.obj
*.log
*.pch
*.idb
*.tlog
*.lastbuildstate
*.suo
*.db
*.ipch
*.res
/GSClient/lib/libfbxsdk-md.lib
*.recipe
/GSClient/Debug/Resources
/GSClient/Debug/Shaders